/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 18, 2017, 1:34:26 PM
    Author     : abc
*/

body{
    background-color: rgb(17,43,51);
    color: rgb(109,172,188);
}